* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a; /* Dark background color */
    color: #ffffff; /* White text color */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-height: 100vh;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #2b2b2b; /* Darker container background color */
    border-radius: 10px; /* Increased border radius for rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #ffffff; /* White header text color */
}

.card-info {
    margin-top: 20px;
}

.card-info-item {
    margin-bottom: 10px;
}

.card-info-item span {
    font-weight: bold;
    color: #ffffff; /* White span text color */
}

footer {
    background-color: #007bff;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}
